#info {
  padding: 20px;
  max-width: 800px;
}

.info {
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
}

.infoQuestions {
  font-weight: bold;
  margin: 15px 20px 10px 20px;
}

.infoAnswers {
  margin: 0 20px 20px 20px;
}

/* Mobile view adjustments */
@media (max-width: 1024px) {
  #info {
    padding: 20px;
  }
}