#location {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}

.locationText {
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
}

.locationImage {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.locationMap {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  height: 500px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .locationContent {
    flex-direction: column;
    align-items: center;
  }

  .locationText {
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .locationImage {
    max-width: 500px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .locationMap {
    max-width: 500px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  #location {
    padding: 15px;
  }

  .locationText {
    /*font-size: 0.9em;*/
    margin-bottom: 8px;
  }

  .locationImage {
    max-width: 100%;
    border-radius: 5px;
    width: 500px;
  }

  .locationMap {
    max-width: 100%;
    height: 300px;
    width: 500px;
  }
}
