@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.nav {
  padding: 20px; 
  color: #344c34;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.h1 {
  margin: 0; 
  font-size: 5.5em;
  font-family: "Tangerine", cursive; 
  font-weight: 700; 
}

.h2 {
  margin: 5px 0 20px; 
  font-size: 3em; 
  font-family: "Tangerine", cursive; 
}

.navbarlist {
  list-style-type: none; 
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
}

.navbarlist li {
  margin: 0 15px; 
}

.navbarlist a {
  text-decoration: none; 
  color: #344c34; 
  transition: color 0.3s; 
}

.navbarlist a:hover {
  color: #daac37; 
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbarlist {
    display: none;
  }

  .h1 {
    text-align: center;
  }

}