#registry {
  padding: 20px;
  max-width: 800px;
}

.registry {
  text-align: justify;
  padding: 20px;
}

.registryParagraph {
  text-align: justify;
  margin: 0 20px 0px 20px;
  padding-bottom: 7px;
}

@media (max-width: 1024px) {
  #registry {
    padding: 20px;
  }
}