#travel {
  padding: 20px;
}

.travelIntro {
  text-align: justify;
  margin-bottom: 20px;
  padding: 20px;
}

.travelInfo {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 20px;
}

.travelIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 7em;
  color: #344c34;
  padding: 20px;
}

.travelText {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
  flex-direction: column;
}

.flightsInfo h4, .flightsInfo p, .carsInfo h4, .carsInfo p {
  margin: 0;
  padding-bottom: 7px;
}

.hotelsInfo h4, .hotelsInfo p, .hotelsInfo a {
  margin: 0;
  padding-bottom: 7px;
}

.hotelsLinks {
  margin: 0;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotelsLinks a {
  color: #344c34;
  transition: color 0.3s; 
}

.hotelsLinks a:hover {
  color: #daac37;
}

.carLinks {
  color: #344c34;
  transition: color 0.3s; 
}

.carLinks:hover {
  color: #daac37;
}

@media (min-width: 600px) and (max-width: 1024px){
  .travelIcons {
    font-size: 7em;
    padding: 20px 10px 30px 10px;
  }

}

@media (max-width: 599px) {
  .travelIcons {
    font-size: 6em;
    padding: 20px 0 70px 0;
  }

  .travelInfo {
    gap: 30px;
  }
}